/* Minimal Theme */

/* :root {
    --primary-background: #ffffff;
    --primary-text: #333333;
    --accent-color-1: #f0f0f0;
    --accent-color-2: #c0c0c0;
    --secondary-background: #e0e0e0;
    --secondary-text: #666666;
} */

/* Advanced Theme */

/* :root {
    --primary-background: #ecf0f1;
    --primary-text: #34495e;
    --accent-color-1: #2980b9;
    --accent-color-2: #c0392b;
    --secondary-background: #bdc3c7;
    --secondary-text: #7f8c8d;
} */
 
/* Dark Theme */

/* :root {
    --primary-background: #121212;
    --primary-text: #e0e0e0;
    --accent-color-1: #00aaff;
    --accent-color-2: #ff4081;
    --secondary-background: #1c1c1c;
    --secondary-text: #b0b0b0;
} */

/* Light Themes */

/* :root {
    --primary-background: #ffffff;
    --primary-text: #333333;
    --accent-color-1: #1a237e;
    --accent-color-2: #ff5722;
    --secondary-background: #f5f5f5;
    --secondary-text: #7f8c8d;
} */

/* Vibrant Theme */
/* 
:root {
    --primary-background: #fffbf0;
    --primary-text: #2c3e50;
    --accent-color-1: #e74c3c;
    --accent-color-2: #f1c40f; 
    --secondary-background: #3498db; 
    --secondary-text: #ffffff;
} */

/* Satisfying Theme */

:root {
    --primary-background: #e8f5e9; /* Soft Green */
    --primary-text: #37474f; /* Slate Gray */
    --accent-color-1: #81c784; /* Light Green */
    --accent-color-2: #4db6ac; /* Soft Teal */
    --secondary-background: #ffffff; /* White */
    --secondary-text: #78909c; /* Light Slate Gray */
}
